// advantages
.advantages
    margin-bottom: 280px
    padding-top: 50px

    @include respond-to(lg)
        margin-bottom: 140px

    &__title
        max-width: 650px
        line-height: 50px
        margin-top: 20px
        margin-bottom: 30px

        @include respond-to(lg)
            margin-bottom: 20px

    &__desc
        font-size: 18px
        line-height: 20px
        max-width: 550px
        margin-left: auto

        @include respond-to(lg)
            font-size: 14px
            line-height: normal
            max-width: 400px
            font-weight: 500

    &__list
        display: flex
        justify-content: space-between
        margin-top: 200px

        @include respond-to(lg)
            margin-top: 90px

    &__icon
        img 
            margin: auto

    &__item
        max-width: 210px

    &__name
        font-size: 20px
        line-height: 24px
        text-align: center
        font-weight: bold

        @include respond-to(lg)
            font-size: 14px
            line-height: normal