// basic
*, *::before, *::after
	box-sizing: border-box
	
body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	color: $text
	background: #f5f5f5

img
	display: block
	max-width: 100%

.d-none
	position: absolute
	white-space: nowrap
	width: 1px
	height: 1px
	overflow: hidden
	border: 0
	padding: 0
	clip: rect(0 0 0 0)
	clip-path: inset(50%)
	margin: -1px
			
.wrapper
	position: relative
	padding: 0 45px
	margin: auto

	@include respond-to(md)
		padding: 0 30px

	@include respond-to(sm)
		padding: 0 15px
		

.container
	max-width: 1525px
	margin: auto
	position: relative

	@include respond-to(lg)
		max-width: 1024px

	@include respond-to(md)
		max-width: 850px

	@include respond-to(sm)
		max-width: 630px

	@include respond-to(xs)
		max-width: 100%
		padding: 0 15px

.column
	padding: 0 15px

.title
	font-size: 62px
	line-height: 40px
	font-weight: bold
	margin: 0

	@include respond-to(lg)
		font-size: 50px

	@include respond-to(md)
		font-size: 40px

	@include respond-to(sm)
		font-size: 35px
		line-height: 30px

	@include respond-to(sm)
		font-size: 33px

button
	cursor: pointer

.btn
	background: #000000
	color: #ffffff
	border: 1px solid transparent
	padding: 10px
	width: 200px
	transition: all .3s ease

	&:hover
		background: transparent
		color: #000000
		border-color: #000000
		transition: all .3s ease

	@include respond-to(sm)
		font-size: 12px
		width: 140px

.count
	font-size: 78px
	line-height: 55px
	font-weight: bold

	@include respond-to(lg)
		font-size: 50px

	@include respond-to(md)
		font-size: 43px

	@include respond-to(sm)
		margin-left: -50px

	@include respond-to(sm)
		font-size: 34px
		margin-left: 0

.sect__offset
	margin-left: 85px

	@include respond-to(lg)
		margin-left: 75px

	@include respond-to(md)
		margin-left: 70px

	@include respond-to(sm)
		margin-left: 0

@-webkit-keyframes arrow 
	0% 
		-webkit-transform: translateY(-80%)
		transform: translateY(-80%)
	
	50% 
		-webkit-transform: translateY(-10%)
		transform: translateY(-10%)
	
	100% 
		-webkit-transform: translateY(-80%)
		transform: translateY(-80%)
	


@keyframes arrow 
	0% 
		-webkit-transform: translateY(-80%)
		transform: translateY(-80%)
	
	50% 
		-webkit-transform: translateY(-10%)
		transform: translateY(-10%)
	
	100% 
		-webkit-transform: translateY(-80%)
		transform: translateY(-80%)
	
