/* footer */
.footer
    padding: 50px 0

    &__wrapper
        display: flex
        align-items: flex-start

        @include respond-to(xs)
            flex-direction: column

        & > div
            flex: 1

    &__address
        max-width: 470px

        @include respond-to(xs)
            margin-bottom: 25px

        p
            font-size: 18px
            margin: 0

            @include respond-to(lg)
                font-size: 14px

            @include respond-to(sm)
                margin-right: 15px
                font-size: 12px

    &__tel
        a   
            font-size: 18px
            display: block
            text-decoration: none
            color: $text

            @include respond-to(lg)
                font-size: 14px

            @include respond-to(sm)
                font-size: 12px

    .btn
        @include respond-to(xs)
            display: none