// hero
.hero
    height: 100vh
    background: url('../img/hero/hero-bg.jpg') center top / 1440px no-repeat
    position: relative

    @include respond-to(lg)
        background-size: 70%

    @include respond-to(md)
        height: 70vh
        background-size: 80%

    &__title
        margin-top: 40px
        margin-bottom: 60px

        @include respond-to(lg)
            margin-bottom: 20px

    &__desc
        max-width: 520px
        line-height: 24px

        @include respond-to(lg)
            max-width: 420px
            font-size: 14px
            line-height: normal

        @include respond-to(md)
            max-width: 390px    
            font-size: 12px

    .container
        padding-top: 40vh

        @include respond-to(lg)
            padding-top: 35vh

        @include respond-to(md)
            padding-top: 25vh

    &__urn
        max-width: 400px
        position: absolute
        right: 125px
        top: 15%

        @include respond-to(lg)
            max-width: 250px
            top: 20%

        @include respond-to(md)
            max-width: 200px
            top: 30%

.scroll-bottom
    background: #000
    width: 50px
    height: 50px
    border-radius: 50%
    border: none
    animation: arrow 1.5s infinite linear
    position: absolute
    bottom: 100px
    left: 50%
    outline: none
    display: flex

    @include respond-to(lg)
        width: 30px
        height: 30px

    @include respond-to(md)
        bottom: 0

    &::before
        content: ''
        display: block
        margin: auto
        width: 23px
        height: 15px
        background: url('../img/hero/arrow-down.png') center / cover no-repeat

        @include respond-to(lg)
            width: 15px
            height: 8px