// price
.price
    position: relative
    margin-bottom: 180px
    
    @include respond-to(lg)
        margin-bottom: 100px

    @include respond-to(xs)
        margin-bottom: 0

    &__img
        display: block

        @include respond-to(lg)
            padding-top: 100px

        @include respond-to(xs)
            padding-top: 200px

    &__wrapper
        padding-top: 50px
        top: 0
        width: 100%
        position: absolute

    .container
        @include respond-to(sm)
            max-width: 750px
    
    .count
        @include respond-to(sm)
            margin-left: 0

    &__title
        margin-top: 50px

        @include respond-to(lg)
            margin-top: 30px

        @include respond-to(sm)
            margin-left: 50px

        @include respond-to(xs)
            margin-left: 0
            max-width: 180px

    &__list
        display: flex
        justify-content: space-between
        margin-top: 140px

        @include respond-to(lg)
            margin-top: 70px

        @include respond-to(lg)
            margin-top: 50px

        @include respond-to(xs)
            flex-direction: column
            align-items: center

    &__item
        max-width: 430px
        flex: 1
        padding: 50px 50px 20px 50px
        border: 1px solid #000

        @include respond-to(lg)
            max-width: 300px
            padding: 20px

        @include respond-to(md)
            max-width: 270px

        @include respond-to(sm)
            max-width: 240px
            padding-bottom: 15px

        @include respond-to(xs)
            margin-bottom: 40px

    &__name
        font-size: 30px
        line-height: 30px
        font-weight: bold
        margin-top: 0
        margin-bottom: 40px

        @include respond-to(lg)
            font-size: 20px
            line-height: 18px
            margin-bottom: 20px

        @include respond-to(md)
            font-size: 16px
            line-height: normal
            margin-bottom: 10px

    &__cost
        display: block
        font-size: 18px
        line-height: 26px
        margin-bottom: 15px

        @include respond-to(lg)
            font-size: 14px
            line-height: normal
            margin-bottom: 10px

        @include respond-to(md)
            font-size: 12px

    &__sub
        max-width: 240px
        display: block
        font-size: 18px
        line-height: 20px
        font-weight: bold
        min-height: 40px
        margin-bottom: 50px

        @include respond-to(lg)
            max-width: 100%
            font-size: 14px
            margin-bottom: 20px

        @include respond-to(md)
            font-size: 12px
            line-height: normal
            margin-bottom: 10px

    &__btn
        border: none
        padding: 0
        background: transparent
        margin-left: auto
        display: block
        font-weight: 500
        position: relative
        outline: none

        @include respond-to(lg)
            font-size: 12px

        &::before
            content: ''
            display: block
            width: 100%
            max-width: 156px
            height: 1px
            background: #000
            left: -120%
            top: 10px
            position: absolute

            @include respond-to(lg)
                left: -130%

            @include respond-to(md)
                max-width: 100px
                top: 8px
                left: -100%

            @include respond-to(sm)
                max-width: 70px
                left: calc(100% - 200px)

.price-map
    width: 100%
    position: absolute
    height: 430px
    top: 400px

    @include respond-to(lg)
        height: 330px
        top: 400px

    &__wrapper
        max-width: 1024px
        position: relative
        margin: auto
        height: 100%

    &__item
        position: absolute
        cursor: pointer

        &::before
            content: ''
            width: 70px
            height: 70px
            background: transparent
            border: 2px solid #ffffff
            border-radius: 50%
            position: absolute
            top: -23px
            left: -23px
            display: none

        &::after
            content: ''
            width: 24px
            height: 24px
            background: #ffffff
            border: 2px solid #ffffff
            position: absolute
            left: 0
            top: 0
            border-radius: 50%
            transition: all .3s ease


        &:hover
            &::before
                display: block

            &::after
                background: transparent
                transition: all .3s ease


            .price-map__content
                display: block

        &--1
            bottom: 10px
            left: 100px

            @include respond-to(lg)
                bottom: 50px
                left: 215px
            
        &--2
            top: 50px
            left: 470px

            @include respond-to(lg)
                top: 20px
                left: 480px

        &--3
            top: 100px
            right: -25px

            @include respond-to(lg)
                top: 50px
                right: 130px
           

    &__content
        display: none
        background: #fff
        padding: 30px
        margin-left: 30px
        margin-top: -150px
        position: absolute
        width: 200px

        &::before
            content: ''
            width: 100px
            height: 2px
            background: #ffffff
            position: absolute
            left: -25px
            top: 118px
            transform: rotate(-45deg)

    &__name
        font-size: 27px
        line-height: 24px
        font-weight: 500
        display: block
        margin-bottom: 10px

    &__cost
        display: block
        font-size: 14px



