// price
.price
    position: relative
    margin-bottom: 180px

    &__wrapper
        padding-top: 50px
        top: 0
        width: 100%
        position: absolute

    &__title
        margin-top: 50px

    &__list
        display: flex
        justify-content: space-between
        margin-top: 140px

    &__item
        max-width: 430px
        flex: 1
        padding: 50px 50px 20px 50px
        border: 1px solid #000

        @media screen and (max-width: $lg)
            max-width: 300px
            padding: 20px

    &__name
        font-size: 30px
        line-height: 30px
        font-weight: bold
        margin-top: 0
        margin-bottom: 40px

    &__cost
        display: block
        font-size: 18px
        line-height: 26px
        margin-bottom: 15px

    &__sub
        max-width: 240px
        display: block
        font-size: 18px
        line-height: 20px
        font-weight: bold
        min-height: 40px
        margin-bottom: 50px

    &__btn
        border: none
        padding: 0
        background: transparent
        margin-left: auto
        display: block
        font-weight: 500
        position: relative
        outline: none

        &::before
            content: ''
            display: block
            width: 100%
            max-width: 156px
            height: 1px
            background: #000
            left: -120%
            top: 10px
            position: absolute
